# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables and secrets
.env
.env.*
!.env.example

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/
